---
# handlers file for nomad

- name: restart nomad
  become: yes
  service:
    name: "{{ nomad_service_name }}"
    state: restarted
  tags:
    - nomad

- name: reload nomad
  become: yes
  service:
    name: "{{ nomad_service_name }}"
    state: reloaded
  tags:
    - nomad
