description "Service for nomad"
author "Kevin Brebanov"

start on filesystem or runlevel [2345]
stop on shutdown

reload signal SIGHUP

respawn
respawn limit 10 10
kill timeout 10

script
{% if nomad_client and not nomad_server %}
    exec start-stop-daemon --start --chuid {{ nomad_user }} --group {{ nomad_group }} --pidfile {{ nomad_pid_file }} --make-pidfile --exec {{ nomad_install_dir }}/nomad -- agent -client -config={{ nomad_config_dir }} > {{ nomad_log_file }} 2>&1
{% endif %}
{% if nomad_server and not nomad_client %}
    exec start-stop-daemon --start --chuid {{ nomad_user }} --group {{ nomad_group }} --pidfile {{ nomad_pid_file }} --make-pidfile --exec {{ nomad_install_dir }}/nomad -- agent -server -config={{ nomad_config_dir }} > {{ nomad_log_file }} 2>&1
{% endif %}
end script

post-stop script
    rm -f {{ nomad_pid_file }}
end script
