# {{ ansible_managed }}

server {
{% if nomad_server %}
  enabled = true
{% else %}
  enabled = false
{% endif %}
{% if nomad_server_bootstrap_expect and nomad_server %}
  bootstrap_expect = {{ nomad_server_bootstrap_expect }}
{% endif %}
{% if nomad_server_data_dir and nomad_server %}
  data_dir = "{{ nomad_server_data_dir }}"
{% endif %}
{% if nomad_server_protocol_version and nomad_server %}
  protocol_version = {{ nomad_server_protocol_version }}
{% endif %}
{% if nomad_server_num_schedulers and nomad_server %}
  num_schedulers = {{ nomad_server_num_schedulers }}
{% endif %}
{% if nomad_server_enabled_schedulers and nomad_server %}
  enabled_schedulers = [
{% for scheduler in nomad_server_enabled_schedulers %}
{% if not loop.last %}
    "{{ scheduler }}",
{% else %}
    "{{ scheduler }}"
{% endif %}
{% endfor %}
  ]
{% endif %}
{% if nomad_server_node_gc_threshold and nomad_server %}
  node_gc_threshold = "{{ nomad_server_node_gc_threshold }}"
{% endif %}
{% if nomad_server_rejoin_after_leave and nomad_server %}
  rejoin_after_leave = "{{ nomad_server_rejoin_after_leave }}"
{% endif %}
{% if nomad_server_retry_join and nomad_server %}
  retry_join = [
{% for node_address in nomad_server_retry_join %}
{% if not loop.last %}
    "{{ node_address }}",
{% else %}
    "{{ node_address }}"
{% endif %}
{% endfor %}
  ]
{% endif %}
{% if nomad_server_retry_interval and nomad_server %}
  retry_interval = "{{ nomad_server_retry_interval }}"
{% endif %}
{% if nomad_server_retry_max and nomad_server %}
  retry_max = "{{ nomad_server_retry_max }}"
{% endif %}
{% if nomad_server_start_join and nomad_server %}
  start_join = [
{% for node_address in nomad_server_start_join %}
{% if not loop.last %}
    "{{ node_address }}",
{% else %}
    "{{ node_address }}"
{% endif %}
{% endfor %}
  ]
{% endif %}
}
